<!DOCTYPE-HTML>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "icon" href = "/visuals/favicon.png" type = "image/x-icon">
        <link rel = "stylesheet" href = "/style.css">
        <title>{{ page.title }}</title>
    </head>

    <body> <header>
            <h1>Digital Bastion of Yorokobi/Kshitij</h1>
            <nav class="navigation">
                <ul>
                    <li><a href = "/index.html">Home</a></li>
                    <li><a href = "/memetic.html">Memetic Surrealism</a></li>
                    <li><a href = "/etches.html">Etches</a></li>
                    <li><a href = "/pluto/index.html">Pluto</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {{ content }} </main>

        <footer>
            <p><b>&copy; 2026 Yorokobi-San. All Rights Reserved.</b></p>
        </footer>
    </body>
</html>
